@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    font-family:Roboto;
}
.container{
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    width: 600px;
    height: 600px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10px;
    user-select: none;
}
.nameapp{
    width: 400px;
    height: 37px;
    text-align: center;
    color:white;
}
.labelinput{
    background-color: black;
    width:300px;
    height: 30px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in;
    border-radius: 5px;
}
.inputapp{
    background-color: rgba(0,0,0,0.1);
    width: 85%;
    margin-left:2%;
    border:none;
    color:white;
    height: 100%;
    outline:0;
    transition:0.3s ease-in;
}
.inputapp:hover{
    outline: 0;
}
.labelinput:hover{
    border: 2px solid white;
}
.buttonaddtask{
    background-image: url("https://evilgriffith.github.io/images/plus.png");
    background-size: 80%;
    background-position: center;
    width: 15%;
    height: 100%;
    transition: 0.3s ease-in;
}
.buttonaddtask:hover{
    border-left: 2px solid white;
    cursor:pointer;
}
.listapp{
    width:300px;
    background-color: black;
    height: 400px;
    margin-top: 10px;
    border-radius: 5px;
    color:white;
}
.task{
    height: 0;
    width: 0;
    background-color: #434343;
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.title{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
.time{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#aaa;
    font-size: 11px;
    user-select: none;
}
.radio-button{
  width: 11px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}
.radio-circle{
  width: 8px;
  height: 8px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5px;
  border-radius: 50%;
}
.radioinput{
  display: none;
}
.radio-button:hover{
  cursor:pointer;
}
.index{
  font-size: 11px;
  margin-left: 10px;
}
.buttonlist{
  width: 300px;
  height: 60px;
  background-color: #2d2d2d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cleartask{
  background-color: rgba(0,0,0,0.1);
  border-radius: 25px;
  border: 3px solid black;
  color:black;
  width: 139px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  transition:0.3s ease-in;
  font-size: 12px;
}
.cleartask:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}
.editbut{
  width: 15px;
  height: 15px;
  background-image: url("https://evilgriffith.github.io/images/edit.png");
  background-size: cover;
  background-position: center;
  margin-left: 30x;
}
.editbut:hover{
  cursor:pointer;
}
.editinput{
  background-color: #434343;
  border:none;
  outline:0;
  color:white;
  width: 148px;
  height: 13px;
  font-size: 11px;
  margin-left: 10px;
}
.editbut:focus{
  border:0;
}
.recyclebin{
  width: 15px;
  height: 15px;
  background-image:url("https://evilgriffith.github.io/images/recyclebin.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.recyclebin:hover{
  cursor:pointer;
}
@media  screen and (max-width: 767px) {
  .doc{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 360px;
    height: 600px;
  }
  .listapp{
    height: 390px;
  }
}